style.css
body, html{
    
    font-family: Raleway;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
    color: #30196e;
}
a:hover{
    color: #5c4a8f;
}
header{
    background-color: #065F46;
    height: 55px;
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.container{
    display: flex;
    
    align-items: center;
    margin-bottom: 60px;
    
}
img{
 
    max-width: 160px;
    object-fit: cover;
    border-radius: 140px;
    margin-right: 20px;
    margin-left: 10px;
  
}
.hfh{
   border-radius: 0;
   height: 160px;
   object-fit: cover;
   border-radius: 140px;
}

.txt{
    width: 70%;
    border-left: 2px solid #000;
    padding: 10px;
}
@media (max-width = 675px) {
    img{
        width: 30%;
        margin-right: 25px;
}
    
    .txt{
        width: 70%;
    }
}
footer{
    background-color: #065F46;
    height: 35px;
    margin: 0;
    
    color: #fff;
    text-align: center;
    padding: 15px;
}


